[Unit]
Description=access-manager-api
After=network.target
[Service]
WorkingDirectory=/<path to dir>
ExecStart=/<path to dir>/access-manager-api
Restart=always
RestartSec=10
Type=simple
[Install]
WantedBy=default.target