[Unit]
Description=proxmoxaas-user-manager-api
After=network.target
[Service]
WorkingDirectory=/<path to dir>
ExecStart=/<path to dir>/proxmoxaas-fabric
Restart=always
RestartSec=10
Type=simple
[Install]
WantedBy=default.target