[submodule "proxmoxaas-common-lib"]
	path = proxmoxaas-common-lib
	url = https://git.tronnet.net/tronnet/proxmoxaas-common-lib
[submodule "go-proxmox"]
	path = go-proxmox
	url = https://github.com/luthermonson/go-proxmox
